* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 204, 0);
    padding: 5px;
}

.main {
    background-color: rgb(255, 204, 0);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
}

.top .top-content {
    width: 100%;
    height: 100%;
}

.top .top-content img {
    width: 100%;
    height: 100%;
}