* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 204, 0);
    padding: 5px;
}

.main {
    background-color: rgb(255, 204, 0);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
}

.top .top-content {
    width: 100%;
    height: 100%;
}

.top .top-content img {
    width: 100%;
    height: 100%;
}

.djs {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 3px #888888;
    margin-top: 10px;
}

.djs #day,
#hour,
#minute,
#second {
    background-color: rgb(254, 0, 6);
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 20px;
    height: 20px;
}